@charset "UTF-8";
header * {
  box-sizing: border-box;
}

.header {
  background-color: #E1EDE6;
  color: #598D66;
  height: 100px;
  align-content: center;
}

span {
  font-family: "Raleway";
  font-size: 20px;
  color: green;
}

.nav-link {
  color: #2C2D35;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #162cd6;
}

.nav__burger-line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

.nav-link {
  font-family: "Raleway";
  font-size: 20px;
  color: #2C2D35;
}

.nav-link:hover {
  color: #376B44;
}

@media (max-width: 768px) {
  .nav-link {
    font-family: "Raleway";
    font-size: 18px;
    color: #2C2D35;
  }
}
body {
  background-color: #F4F6F5;
}

h1, h2 {
  font-family: "Raleway";
  font-size: 60px;
  color: #598D66;
}

.col-md-6 p, #openModalBtn {
  font-family: "Raleway";
  font-size: 20px;
  color: #2C2D35;
}

.btn {
  max-width: 225px;
  width: 100%;
  margin-top: 40px;
  padding: 21px 50px;
  color: #598D66;
  background-color: transparent;
  border: solid 1px #598D66;
  border-radius: 0;
}

.btn:active:active, .btn:hover {
  background: #376B44;
  color: white;
  transition: all 0.2s;
}

@media (max-width: 376px) {
  .col-md-6 img {
    display: none;
  }
  .py-5 .col-md-6:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.modal-content {
  margin: auto;
  margin-top: 8%;
  padding: 20px;
  padding-bottom: 30px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-fluid-sec {
  height: 70px;
}

.main__second {
  margin-top: 70px;
}

.tabs {
  max-width: 1110px;
  margin: 0 auto;
}

.tabs__header {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.nav-link-sec {
  font-family: "Raleway";
  font-size: 20px;
  color: #2C2D35;
}

.nav-link-sec {
  padding: 10px 24px;
  background: #D4E8D9;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link-sec.active {
  background: #376B44 !important;
  color: white !important;
  box-shadow: 0 4px 8px rgba(8, 61, 28, 0.153);
  transform: translateY(-2px);
}

.tabs__content-item {
  display: none;
  padding: 20px;
  border-top: none;
  background: #fff;
}

.tabs__content-item.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 20px;
  max-width: 100%;
  padding: 0;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-container {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.slider {
  position: relative;
  max-width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

.slides {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateX(30px);
}







h2 {
  font-family: "Raleway";
  font-size: 20px;
  color: #2C2D35;
}

h2 {
  margin-top: 0;
}

p {
  font-family: "Raleway";
  font-size: 15px;
  color: #2C2D35;
}

.footer__right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 786px) {
  .footer__right {
    display: none;
  }
  .footer {
    padding-inline: 0;
    display: flex;
    justify-content: center;
  }
}
@font-face {
  font-family: "Raleway";
  src: url(/raleway-regular.ttf);
}/*# sourceMappingURL=main.css.map */


/* СЛАЙДЕР */
#mainCarousel {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative !important;
    margin-left: -30 !important;
    
}

#mainCarousel .carousel-item.active {
    opacity: 1;
    position: relative;
}
.slide{
  transform: translateX(0)
}
.carousel{
  margin: 0;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
h3{
  font-size: 80px;
}

/* Адаптивность */
@media (max-width: 768px) {
    #mainCarousel {
        height: 400px !important;
        margin: 40px 0 !important;
    }
    
    #mainCarousel .carousel-caption {
        bottom: 10%;
        padding: 1rem;
    }
    
    #mainCarousel .slider-text-content h3 {
        font-size: 1.5rem;
    }
    
    #mainCarousel .slider-text-content p {
        font-size: 1rem;
    }
}